.form__entry {
    height: 552px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 70px;
}

.form__title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    color: #000;
    font-style: normal;
    margin: 0;
    padding-bottom: 40px;
}

.form__auth {
    display: grid;
    /* gap: 180px; */
}

.form__data {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.input__label {
    color: #A0A0A0;
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
}

.form__item {
    border: none;
    background-color: #F4F4F4;
    border-radius: 8px;
    height: 46px;
    width: 390px;
    padding-left: 15px;
}

.form__item:focus {
    outline: none;
}

.form__item_email, .form__item_name {
    margin-bottom: 10px;
}

.form__submit {
    height: 45px;
    background-color: #3456F3;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    padding: 0;
    margin-top: 180px;
}

.form__submit:hover {
    opacity: 0.8;
}

.form__submit_register {
    margin-top: 80px;
}

.form__signup {
    display: flex;
    align-items: center;
    margin: 16px auto 0;
    gap: 6px;
}

.form__text {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #A0A0A0;
}

.form__link {
    color: #3456F3;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    text-decoration: none;
}

.form__item-error {
    color: #EE3465;
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
}