.intro {
    /* max-width: 1280px; */
    margin: auto;
    padding: 80px 0 120px;
    background-color: #DDDEE3;
}

.intro__block {
    margin: auto;
    max-width: 730px;
}

.intro__text {
    text-align: center;
}

.intro__background {
    background-image: url(../../../src/images/main_background.png);
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 320px;
    height: 320px;
}

.intro__title {
    min-width: 730px;
    margin: auto;
    text-align: center;
    font-size: 50px;
    line-height: 58px;
    font-style: normal;
    font-weight: 400;
}

.menu {
    background-color: #F5F5F5;
    /* height: 60px; */
}

.menu__list {
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__list-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;
}

.menu__link {
    text-decoration: none;
    color: #000;
    transition: 0.2s;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
}

.menu__link:hover {
    opacity: 0.7;
    text-decoration: underline;
}

.about {
    padding: 0 70px;
    height: 610px;
    background-color: #FAFAFA;
}

.about__box {
    max-width: 1280px;
    margin: auto;
}

.about__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 70px;
}

.about__info {
    display: grid;
    gap: 25px;
    max-width: 550px;
}

.about__title {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    margin: 0;
    padding: 110px 0 20px;
    border-bottom: 1px solid #000;
}

.info__title {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.info__description {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.about__grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.about__period {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
    gap: 15px;
}

.period__title {
    display: grid;
    align-items: center;
    background-color: #F2F2F2;
    width: 100%;
    text-align: center;
    margin: 0;
    height: 36px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    transition: 0.2s;
}

.period__title:hover {
    background-color: #3456F3;
    color: #ffffff;
}

.period__description {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #A0A0A0;
    margin: 0;
}

.tech {
    padding: 0 70px;
    height: 625px;
    background-color: #F5F5F5;
}

.tech__box {
    max-width: 1280px;
    margin: auto;
}

.tech__title {
    font-size: 50px;
    line-height: 58px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    padding-top: 90px;
}

.tech__description {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    max-width: 460px;
    margin: 0 auto;
    padding-top: 25px;
}

.tech__list {
    margin: 0 auto;
    padding: 100px 0 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    max-width: 690px;
}

.tech__link {
    display: grid;
    align-items: center;
    max-width: 90px;
    height: 60px;
    background-color: #E8E8E8;
    border-radius: 10px;
}

.person {
    padding: 0 70px;
    background-color: #FAFAFA;
    height: 1080px;
}

.person__grid {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 70px;
}

.person__container {
    max-width: 600px;
    width: 100%;
    /* height: 327px;
    display: grid;
    grid-template-rows: auto auto 120px auto; */
}

.person__title_position {
    text-align: left;
    margin: 0 0 15px;
    padding: 0;
}

.person__subtitle {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
}

.person__description {
    text-align: left;
    margin: 0 0 100px;
    padding: 0;
    max-width: 600px;
    line-height: 22px;
}

.person__image {
    width: 270px;
    border-radius: 10px;
}

.person__links {
    display: flex;
    gap: 20px;
}

.person__link {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
}

.person__portfolio {
    padding-top: 100px;
}

.portfolio__description {
    font-weight: 400;
    color: #A0A0A0;
}

.portfolio__list {
    display: grid;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.portfolio__links {
    list-style-type: none;
    height: 70px;
    border-bottom: 1px solid #E8E8E8;
    transition: 0.3s;
}

.portfolio__links:hover {
    opacity: 0.7;
    background-color: #E8E8E8;
}

.portfolio__links:last-child {
    border: none;
}

.portfolio__link {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: 30px;
    line-height: 50px;
    font-style: 400;
    color: #000;
    height: 70px;
}

.portfolio__icon {
    width: 20px;
    height: 60px;
    /* height: 60px; */
    padding: 0 15px;
}