.header {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px 0;
  background-color: #dddee3;
}

.header__logo {
  width: 38px;
  height: 38px;
  cursor: pointer;
  transition: 0.3s;
}

.header__logo:hover {
  opacity: 0.8;
  transform: rotate(180deg);
}

.header__nav {
  display: flex;
  gap: 30px;
}

.header__grid {
  width: 400px;
  padding: 30px 0 40px;
}

.header__link {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  transition: 0.2s;
  height: 32px;
  width: 97px;
  display: grid;
  align-items: center;
  border-radius: 3px;
  text-decoration: none;
  color: #000;
}

.header__link:hover {
  background-color: #3456f3;
  color: #ffffff;
  cursor: pointer;
}

.header__link_entry {
  width: 76px;
}

.header__profile {
  max-width: 1280px;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  padding: 20px 70px 0;
}

.header__nav_movies {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: 0.3s;
}

.header__movies {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}

.header__movies:hover {
  opacity: 0.7;
}

.header__account {
  line-height: 16px;
  font-weight: 500;
  margin: 0;
}

.header__account_grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  margin: 0 0 0 30px;
}

.header__account_icon {
  background-color: #f4f4f4;
  background-image: url("../../../src/images/account_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px 14px;
  width: 26px;
  height: 30px;
  border-radius: 4px;
}

.header__burger {
  display: none;
  cursor: pointer;
  transition: 0.3s;
}

.header__burger:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 20px 30px 0;
  }

  .header__nav_movies {
    display: none;
  }

  .header__profile {
    padding: 20px 30px 0;
  }

  .header__burger {
    display: flex;
  }
}

@media screen and (max-width: 750px) {
  .header {
    padding: 20px 15px 0;
  }

  .header__nav {
    gap: 15px;
  }
  .header__link {
    font-size: 10px;
    line-height: 16px;
    width: 65px;
    color: #000;
  }

  .header__link:hover {
    background-color: #dddee3;
    opacity: 0.7;
    color: #000;
  }

  .header__link_entry {
    width: 54px;
    color: #ffffff;
    background-color: #3456f3;
  }

  .header__link_entry:hover {
    opacity: 0.8;
    color: #ffffff;
    background-color: #3456f3;
  }

  .header__grid {
    text-align: center;
  }

  .header__profile {
    padding: 20px 15px;
  }
}
